.top-video-first-item {
  width: 300px;
  height: 168px;

  .top-video-item-index {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    background-color: #e74c3c;
    color: #fff;
    z-index: 1;
  }

  .top-video-item-title {
    position: absolute;
    bottom: 0;
    left: 48px;

    .top-video-item-title-name {
      color: #fff;
      width: 242px !important;

      &:hover {
        color: #0689ba;
      }
    }

    .top-video-item-title-artist {
      width: 242px !important;
    }
  }
}

.top-video-item {
  position: relative;
  display: flex;
  width: 300px;
  margin-bottom: 18px;

  .top-video-item-title {
    padding-left: 10px;

    .top-video-item-title-name {
      display: block;
      width: 180px;
      font-size: 16px;
      font-weight: 500;
      text-transform: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: #0689ba;
      }
    }
  }

  .top-video-item-title-artist {
    display: block;
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    color: #cda87f;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      color: #0689ba;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e9dede;
    margin: 10px 2px;
  }

  .top-video-item-content {
    display: flex;
    height: 62px;
  }
}

.top-video-item:not(.top-video-first-item) .top-video-item-index {
  width: 31px;
  height: 31px;
  font-size: 20px;
  text-align: center;
  line-height: 48px;
  color: #98be9c;
  z-index: 1;
}
