.top-song-items {
  margin-top: 20px;
  box-sizing: border-box;

  .top-song-first-item {
    width: 300px;
    height: 100px;

    .top-song-item-index {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 34px;
      height: 34px;
      text-align: center;
      line-height: 34px;
      background-color: #e74c3c;
      color: #fff;
      z-index: 10;
    }
  }

  .top-song-item {
    position: relative;
    display: flex;
    width: 300px;
    margin-bottom: 18px;

    .top-song-item-title {
      margin-left: 10px;
    }

    .top-song-item-title-name {
      display: block;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .top-song-item-title-artist {
      font-size: 15px;
      color: #cda87f;
      font-weight: 400;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ddc8c8;
      margin: 10px 2px;
    }

    .top-song-item-content {
      display: flex;
    }

    .top-song-item-index {
      width: 31px;
      height: 31px;
      font-size: 20px;
      text-align: center;
      line-height: 48px;
      color: #98be9c;
      z-index: 10;
    }
  }
}
