.header-wrapper {
  height: 33px;
  margin-bottom: 10px;

  .header-text {
    font-size: 26px;
    color: #2daaed;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header-logo {
    margin-left: 8px;
    font-size: 20px;
    color: #1890ff;
    cursor: pointer;
  }
}
