.hot-video-item-wrapper {
  position: relative;
  display: inline-block;
  width: 197px;
  margin-right: 18px;
  margin-bottom: 16px;
  cursor: pointer;

  .item-traffic {
    position: absolute;
    right: 0;
    display: block;
    z-index: 1;
    padding: 0 5px;
    color: #c7c7c7;
    font-size: 12px;
    line-height: 24px;
    background-color: rgb(0 0 0 / 47.9%);

    .item-traffic-number {
      margin-left: 4px;
    }
  }

  .item-duration {
    position: absolute;
    right: 0;
    top: 99px;
    z-index: 1;
    height: 16px;
    padding: 0 5px;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    background-color: rgb(0 0 0 / 47.9%);
  }

  .item-title {
    height: 18px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: #2daaed;
    }
  }

  .item-artist {
    font-size: 12px;
    color: #9a9a9a;

    &:hover {
      color: #2daaed;
    }
  }
}
