.footer-info-bottom {
  display: flex;
  color: rgb(30 23 10);
}

.footer-info-logo {
  display: inline-block;
  margin-right: 32px;
}

.footer-info-notify {
  margin-right: 20px;
}

.footer-info-text-list li {
  font-size: 12px;
}
