* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: Nunito, sans-serif !important;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}
