:root {
  --header-height: 56px;
  --hero-height: 420px;
  --footer-height: 700px;
  --primary-font: "Nunito";
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: var(--primary-font), sans-serif;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* layout */

.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  grid-area: header;
  border-bottom: #dadada solid 1px;
  z-index: 9999;
}

.hero-wrapper {
  margin-top: var(--header-height);
  grid-area: hero;
  height: 420px;
  max-width: 1170px;
}

.left-wrapper {
  grid-area: left;
  height: 1000px;
  background-color: aquamarine;
}

.right-wrapper {
  grid-area: right;
  background-color: aquamarine;
}

.footer-wrapper {
  grid-area: footer;
  height: 700px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header header"
    "hero hero hero hero hero hero hero"
    "left left left left left right right"
    "footer footer footer footer footer footer footer";
  gap: 1rem;
  max-width: 1170px;
  margin: 0 auto;
}

.full-width {
  margin-left: calc(-100vw / 2 + 1170px / 2);
  margin-right: calc(-100vw / 2 + 1170px / 2);
}
