.footer-cooper-wrapper {
  width: 100%;
  height: 148px;
  background-color: #efefef;
}

.footer-cooper-inner {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.footer-cooper-title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 600;
}

.footer-cooper-items {
  display: flex;
  height: 100px;
}

.footer-cooper-item {
  width: 195px;
  height: 100px;
}
