.right-box-header {
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;

  .right-box-text {
    cursor: pointer;
    color: #2daaed;
    margin-right: 12px;
    font-weight: 400;
  }

  span:not(.right-box-text) {
    color: #7a7a7a;
    cursor: pointer;
  }
}
