.header-nav-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-nav-items {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: -2px;
}

.header-nav-item ~ .header-nav-item {
  margin-left: 1rem;
}

.header-nav-link {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.header-nav-language {
  transform: rotate(90deg);
  margin-left: 0 !important;
  padding: 0.6rem;
  cursor: pointer;
}

.header-nav-language span {
  font-size: 1.4rem;
}
