.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 32px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  line-height: 100%;
  cursor: pointer;
}

.custom-button ~ .custom-button {
  margin-left: 16px;
}

.button-sign-in {
  display: flex;
  align-self: stretch;
  align-items: center;
  cursor: pointer;
  font-size: 13.5px;
  font-weight: 700;
  color: rgba(0 0 0 / 60%);
}

.button-sign-up {
  background-image: linear-gradient(45deg, #2f80ed 0%, #00aeef 100%);
  font-weight: 700;
}
